.myName {
    background-color: #ee0979;
    padding-left: 5px;
    padding-right: 5px;
}

.background {
    background:linear-gradient(90deg, #fdfbfb 0%,#ebedee 100% );
}

.about-jumbo {
    background:linear-gradient(90deg, #fdfbfb 0%,#ebedee 100% );
}

.myNav {
    background:linear-gradient(90deg, #ee0979 0%,#ff6a00 100% );
}

.email-icon {
    color: #ee0979;
}
.github-icon {
    color: #f53640;
    /* text-align: center; */
}
.linkedin-icon {
    color: #ff6a00;
}

.contact-form {
    margin-top: 5%;
}

.send-btn {
    background-color: #ee0979 !important;
    margin-bottom: 5%;
}

#footer {
    background:linear-gradient(90deg, #ee0979 0%,#ff6a00 100% );
    margin-top: 5% !important;
}

#footer-text {
    text-align: center;
}