.myName {
    background-color: #ee0979;
    padding-left: 5px;
    padding-right: 5px;
}

.background {
    background:linear-gradient(90deg, #fdfbfb 0%,#ebedee 100% );
}

.myNav {
    background:linear-gradient(90deg, #ee0979 0%,#ff6a00 100% );
}

.portfolio-jumbo {
    background:linear-gradient(90deg, #fdfbfb 0%,#ebedee 100% );
}

.project-title {
    color: #ee0979;
}

.github-btn {
    background-color: #ee0979;
}

#footer {
    background:linear-gradient(90deg, #ee0979 0%,#ff6a00 100% );
    margin-top: 10% !important;
}

#footer-text {
    text-align: center;
}